#python==3.11.4(python.org)
pyinstaller==6.1.0
pyperclip==1.8.2 
# pyttsx4==3.0.15
py3-tts
configparser==6.0.0
translate==3.6.1
TTS==0.16.3
pyaudio==0.2.13
gTTS==2.3.2
gspeak==1.0.0
pygame==2.5.1
azure-cognitiveservices-speech==1.31.0 
aspeak==6.0.0
PySide6==6.5.2
#TTS-Wrapper==0.8.0
TTS-Wrapper[google,microsoft,sapi]
posthog==3.0.2
requests~=2.31.0
msrest~=0.7.1
langcodes[data]
deep-translator[ai]