#python==3.11.4(python.org)
pyinstaller==6.1.0
pyperclip==1.8.2
configparser==6.0.0
translate==3.6.1
TTS==0.16.3
pyaudio==0.2.13
gTTS==2.3.2
gspeak==1.0.0
pygame==2.5.1
azure-cognitiveservices-speech==1.31.0 
aspeak==6.0.0
PySide6==6.5.2
#TTS-Wrapper==0.8.0
#TTS-Wrapper[google,microsoft,sapi]
posthog==3.0.2
requests~=2.31.0
msrest~=0.7.1
langcodes[data]
deep-translator[ai]
librosa==0.10.0
matplotlib==3.7.2
monotonic_align==1.0.0
numpy==1.22.0
phonemizer==3.2.1
requests==2.32.3
scipy==1.14.0
setuptools==65.5.0
soundfile==0.12.1
torch==2.3.1
Unidecode==1.3.7
git+https://github.com/willwade/tts-wrapper#egg=tts-wrapper